---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #ff8a80;
    background-image: linear-gradient(120deg, #f06292, #fdd835);
}
{ title: 'How to Make a Banana Chocolate Sandwich', field: 'header', headerStyle: {color: #b0003a}};
