---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #ffcdd2;
    background-image: linear-gradient(120deg, #0d47a1, #002171, #8e24aa, #5c007a);
}
