---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #fdd835;
    background-image: linear-gradient(120deg, #f06292, #ffd54f);
}

.body {
h1 {
    color: #b0003a;
}

h2 {
    color: #ed407a;
}

h3 {
    color: #ffc107;
}
}
